# Do not delete
LITMUS_URL: http://litmus-chaos-frontend-service.{{ .Release.Namespace }}.svc.cluster.local:9091
LITMUS_BACKEND_URL: http://litmus-chaos-server-service.{{ .Release.Namespace }}.svc.cluster.local:9002
